NET "__data<0>"	LOC = P30 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "__data<1>"	LOC = P31 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "__data<2>"	LOC = P32 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "__data<3>"	LOC = P34 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "__data<4>"	LOC = P40 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "__data<5>"	LOC = P41 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "__data<6>"	LOC = P43 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "__data<7>"	LOC = P44 | IOSTANDARD = LVTTL | DRIVE = 24;

NET "__read"	LOC = P45 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "__write"	LOC = P39 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "__osc"	LOC = P46 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "__ale"	LOC = P36 | IOSTANDARD = LVTTL | DRIVE = 24;

NET "zif<1>"	LOC = P21 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "zif<2>"	LOC = P19 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "zif<3>"	LOC = P17 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "zif<4>"	LOC = P15 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "zif<5>"	LOC = P10 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "zif<6>"	LOC = P8  | IOSTANDARD = LVTTL | DRIVE = 24;
NET "zif<7>"	LOC = P6  | IOSTANDARD = LVTTL | DRIVE = 24;
NET "zif<8>"	LOC = P4  | IOSTANDARD = LVTTL | DRIVE = 24;
NET "zif<9>"	LOC = P98 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "zif<10>"	LOC = P96 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "zif<11>"	LOC = P93 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "zif<12>"	LOC = P86 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "zif<13>"	LOC = P83 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "zif<14>"	LOC = P81 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "zif<15>"	LOC = P74 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "zif<16>"	LOC = P71 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "zif<17>"	LOC = P69 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "zif<18>"	LOC = P67 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "zif<19>"	LOC = P65 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "zif<20>"	LOC = P60 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "zif<21>"	LOC = P58 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "zif<22>"	LOC = P56 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "zif<23>"	LOC = P54 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "zif<24>"	LOC = P47 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "zif<25>"	LOC = P53 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "zif<26>"	LOC = P55 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "zif<27>"	LOC = P57 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "zif<28>"	LOC = P59 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "zif<29>"	LOC = P62 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "zif<30>"	LOC = P66 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "zif<31>"	LOC = P68 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "zif<32>"	LOC = P70 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "zif<33>"	LOC = P72 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "zif<34>"	LOC = P80 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "zif<35>"	LOC = P82 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "zif<36>"	LOC = P84 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "zif<37>"	LOC = P87 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "zif<38>"	LOC = P95 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "zif<39>"	LOC = P97 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "zif<40>"	LOC = P3  | IOSTANDARD = LVTTL | DRIVE = 24;
NET "zif<41>"	LOC = P5  | IOSTANDARD = LVTTL | DRIVE = 24;
NET "zif<42>"	LOC = P7  | IOSTANDARD = LVTTL | DRIVE = 24;
NET "zif<43>"	LOC = P9  | IOSTANDARD = LVTTL | DRIVE = 24;
NET "zif<44>"	LOC = P13 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "zif<45>"	LOC = P16 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "zif<46>"	LOC = P18 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "zif<47>"	LOC = P20 | IOSTANDARD = LVTTL | DRIVE = 24;
NET "zif<48>"	LOC = P22 | IOSTANDARD = LVTTL | DRIVE = 24;
