NET "data<0>"	LOC = P30;
NET "data<1>"	LOC = P31;
NET "data<2>"	LOC = P32;
NET "data<3>"	LOC = P34;
NET "data<4>"	LOC = P40;
NET "data<5>"	LOC = P41;
NET "data<6>"	LOC = P43;
NET "data<7>"	LOC = P44;

NET "read"	LOC = P45;
NET "write"	LOC = P39;
NET "osc_in"	LOC = P46;
NET "ale"	LOC = P36;

NET "zif<1>"	LOC = P21;
NET "zif<2>"	LOC = P19;
NET "zif<3>"	LOC = P17;
NET "zif<4>"	LOC = P15;
NET "zif<5>"	LOC = P10;
NET "zif<6>"	LOC = P8;
NET "zif<7>"	LOC = P6;
NET "zif<8>"	LOC = P4;
NET "zif<9>"	LOC = P98;
NET "zif<10>"	LOC = P96;
NET "zif<11>"	LOC = P93;
NET "zif<12>"	LOC = P86;
NET "zif<13>"	LOC = P83;
NET "zif<14>"	LOC = P81;
NET "zif<15>"	LOC = P74;
NET "zif<16>"	LOC = P71;
NET "zif<17>"	LOC = P69;
NET "zif<18>"	LOC = P67;
NET "zif<19>"	LOC = P65;
NET "zif<20>"	LOC = P60;
NET "zif<21>"	LOC = P58;
NET "zif<22>"	LOC = P56;
NET "zif<23>"	LOC = P54;
NET "zif<24>"	LOC = P47;
NET "zif<25>"	LOC = P53;
NET "zif<26>"	LOC = P55;
NET "zif<27>"	LOC = P57;
NET "zif<28>"	LOC = P59;
NET "zif<29>"	LOC = P62;
NET "zif<30>"	LOC = P66;
NET "zif<31>"	LOC = P68;
NET "zif<32>"	LOC = P70;
NET "zif<33>"	LOC = P72;
NET "zif<34>"	LOC = P80;
NET "zif<35>"	LOC = P82;
NET "zif<36>"	LOC = P84;
NET "zif<37>"	LOC = P87;
NET "zif<38>"	LOC = P95;
NET "zif<39>"	LOC = P97;
NET "zif<40>"	LOC = P3;
NET "zif<41>"	LOC = P5;
NET "zif<42>"	LOC = P7;
NET "zif<43>"	LOC = P9;
NET "zif<44>"	LOC = P13;
NET "zif<45>"	LOC = P16;
NET "zif<46>"	LOC = P18;
NET "zif<47>"	LOC = P20;
NET "zif<48>"	LOC = P22;
