__xst/
__ngo/

*.bgn
*.bit
*.bld
*.drc
*_map.map
*_map.mrp
*_map.ncd
*_map.ngm
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*_pad.csv
*_pad.txt
*.par
*.pcf
*.srp
*.unroutes
*_usage.xml
*_summary.xml
*.xpi
*.twr
*.ptwx
*.xrpt
xlnx_auto_*
