_ngo/
_xmsgs/

*.lock
*.ise_ISE_Backup
*.bgn
*.bit
*.bld
*.cmd_log
*.drc
*.lso
*.ncd
*.ngc
*.ngd
*.ngr
*.ntrc_log
*.pad
*.par
*.pcf
*.prj
*.restore
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xst
*.map
*.mrp
*.ngm
*_pad.csv
*_pad.txt
*_summary.html
*_summary.xml
*_usage.xml

